.not_found {
    margin: 50px auto;
    width: 700px;
    padding: 50px 0;
    color: #333;
    line-height: 2;

    .title {
        font-size: 26px;
        margin: 10px 0 0;
    }

    .content {
        font-size: 14px;
    }
}