.links {
    padding: 50px 0;
    width: 700px;
    margin: 50px auto;

    .content {
        font-size: 14px;
        color: #333;
        line-height: 2;

        a {
            color: #333;
        }
    }

    .friends {
        margin-top: 30px;

        li {
            margin: 10px 10px 10px 0;
            float: left;
        }
    }
}