.top {
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #f7f7f7;
    background-color: #fefefe;
    z-index: 999;

    .logo_icon {
        display: block;
        position: absolute;
        left: 14px;
        top: 16px;
        width: 20px;
        height: 20px;
        background-color: #eaeaea;
        text-decoration: none;
    }

    & > .iconfont {
        position: absolute;
        color: #666;
        top: 16px;
        left: 70px;
        font-size: 20px;
        cursor: pointer;
    }

    .article_title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 20px;
        opacity: 1;
        transition: opacity 800ms ease;
        font-size: 14px;

        &.hide {
            opacity: 0;
        }
    }

    .weixin_qr_code {
        position: absolute;
        top: 50px;
        right: 10px;
        padding: 30px;
        border: 1px solid #999;
        border-radius: 5px;

        img {
            width: 128px;
            height: 128px;
        }
    }
}

.progress {
    position: absolute;
    height: 2px;
    top: 0;
    background-color: #50bcb6;
    transition: width ease 500ms;
}

.bar {
    height: 100%;
    width: 0;
    background-color: rgba(0, 0, 0, 0.07);
}

.social {
    position: absolute;
    height: 30px;
    right: 0;
    top: 16px;

    .iconfont {
        display: block;
        float: left;
        margin-right: 20px;
        color: #666;
        cursor: pointer;
        user-select: none;

        &.weixin_icon {
            font-size: 24px;

            &:hover {
                color: #333;
            }
        }

        &.like_icon {
            font-size: 19px;

            &:hover {
                color: #EF6D57;
            }
        }
    }
}