.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(255, 255, 255, .97);
    z-index: 999;
    transition: all ease 300ms;

    &.active {
        top: -100vh;
    }

    .menu_nav {
        margin-top: 200px;
        text-align: center;
    }

    li {
        display: inline-block;
        margin: 0 20px 20px 0;
        color: #666;
        font-size: 20px;
        line-height: 1.3;

        a {
            text-decoration: none;
            letter-spacing: 1px;
            color: #666;
        }

        &:hover > a {
            color: #333;
        }
    }

    .footer {
        position: absolute;
        color: #999;
        width: 100%;
        bottom: 30px;
        text-align: center;
        font-size: 14px;
    }
}
